#get-more {
    text-align: center;
    font-weight: bold;
}

#news {
    text-align: center;
}

.currentUserNameDisplay {
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    font-size: large;
    color: white;
}

#bleaching-div {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 250px solid rgba(255,255,255,0.5);
    background-color: transparent;
}

#bleaching-div-chirld {
    font-family: 'Microsoft YaHei';
    font-size: larger;
    height: 300px;
    width: 500px;
    margin-left: -200px;
    margin-top: -200px;
}

#user-photo {
    width: 50px;
    height: 50px;
    margin-left: 250px;
}

.bleaching-p {
    margin: 0px;
}

#contact_desc_div {
    text-align: center;
    height: 200px;
}

#pet-photo {
    width: 400px;
    height: 300px;
}

#bleaching-div-pet {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 400px solid rgba(255,255,255,0.5);
    background-color: transparent;
}

#bleaching-div-chirld-pet {
    font-family: 'Microsoft YaHei';
    font-size: larger;
    height: 300px;
    width: 500px;
    margin-left: -200px;
    margin-top: -200px;
}