#get-more {
    text-align: center;
    font-weight: bold;
}

#news {
    text-align: center;
}

.currentUserNameDisplay {
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    font-size:large;
    color:white;
}
