@{ 
    Layout = "~/Views/Shared/_Layout_less.cshtml";
}
<div class="contact_desc" style="width:auto">
    <div style="width:1000px;height:500px"></div>
</div>
<div class="get-in-touch">
    <div class="container">
        <div class="col-md-3 gin">
            <h3>Get in Touch</h3>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspeisse eget diam</p>
            <div class="social-icons footer-icons">
                <i class="facebook"></i>
                <i class="twitter"></i>
                <i class="googlepluse"></i>
            </div>
        </div>
        <div class="col-md-3 address">
            <h3>Address</h3>
            <address>
                <p>10-765 mg-Road,
                <p>Washington, DC, United States,</p>
                <p>ud-19832-6578.</p>
                <p class="phone"><span>Phone</span> :+1 900 876 1234</p>
                <span class="phone">E-mail : <a href="mail-to:example@mail.com">example@mail.com</a></span>
            </address>
        </div>
        <div class="col-md-6 dal">
            <h3>Drop us a line</h3>
            <input type="text" class="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
            <input type="text" class="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
            <input type="text" class="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}">
            <input type="text" class="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
            <textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';">Your Message</textarea>
            <input type="submit" value="SEND">
        </div>
        <div class="clearfix"></div>
    </div>
</div>