@{
    Layout = "~/Views/Shared/_Layout_less.cshtml";
}

<!--webfont-->
<link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Niconne' rel='stylesheet' type='text/css'>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>

		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
    <div class="content">
   	<div class="container">
	<div class="gallery-head" id="portfolio">
	<h3>gallery</h3>
		 <div class="gallery-bottom">
					<div class="col-md-4 gallery-left">
						<a href="images/gl7.jpg">
							<img src="images/gl7.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/gl4.jpg">
							<img src="images/gl4.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/gl5.jpg">
							<img src="images/gl5.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/gl6.jpg">
							<img src="images/gl6.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/r4.jpg">
							<img src="images/r4.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/gl2.jpg">
							<img src="images/gl2.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/r6.jpg">
							<img src="images/r6.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/r3.jpg">
							<img src="images/r3.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/gl4.jpg">
							<img src="images/gl4.jpg" alt="name" />
						</a>
					</div>
					<div class="clearfix"></div>
			</div>

<script src="js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="css/chocolat.css" type="text/css"/>
 <!-- Javascript calls -->
	<script type="text/javascript" charset="utf-8">
		$(function() {
		 $('#portfolio a').Chocolat({overlayColor:'#000',leftImg:'images/leftw.gif',rightImg:'images/rightw.gif',closeImg:'images/closew.gif'});
	   });
</script>
	 </div>
</div>	

	</div>
   		<div class="gallery-top">
   			<div class="gallery">
		</div>
		</div>
   </div>
</div>