
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

        <div class="main-wrap">

            <div class="crumb-wrap">
                <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">信息管理</a><span class="crumb-step">&gt;</span><span>新增信息</span></div>
            </div>
            <div class="result-wrap">
                <div class="result-content">

                    @*<!-- 加载编辑器的容器 -->
                    <script id="container" name="content" type="text/plain">
                        这里写你的初始化内容
                    </script>
                    <!-- 配置文件 -->
                    <script type="text/javascript" src="ueditor.config.js"></script>
                    <!-- 编辑器源码文件 -->
                    <script type="text/javascript" src="ueditor.all.js"></script>
                    <!-- 实例化编辑器 -->
                    <script type="text/javascript">
                             var ue = UE.getEditor('container');
                    </script>*@

                    <form action="~/Admin/Home/insert" method="post" id="myform" name="myform" enctype="multipart/form-data">
                        <table class="insert-tab" width="100%">
                            <tbody>
                                <tr>
                                    <th width="120"><i class="require-red">*</i>分类：</th>
                                    <td>
                                        <select name="typeId" id="typeId" class="required">
                                            <option value="">请选择</option>
                                            <option value="1">汪星人</option>
                                            <option value="2">喵星人</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>宠物名字：</th>
                                    <td>
                                        <input class="common-text required" id="name" name="name" size="50" value="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <th>年龄：</th>
                                    <td><input class="common-text" name="age" size="50" value="admin" type="text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>缩略图：</th>
                                    <td><input name="smallimg" id="" type="file"><!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>--></td>
                                </tr>
                                <tr>
                                    <th>内容：</th>
                                    <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                        <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

        </div>
