@{
    Layout = "~/Views/Shared/_Layout_less.cshtml";
}

<div id="bleaching-div-pet">
    <div id="bleaching-div-chirld-pet">
        <img src="/@ViewBag.petInfos.pet_pic_url" id="pet-photo" /><br><br>
        <p class="bleaching-p"><span>PetName: @ViewBag.petInfos.pet_name</span></p><br>
        <p class="bleaching-p">PetGender:@ViewBag.petInfos.pet_gender</p><br>
        <p class="bleaching-p">PetAge:@ViewBag.petInfos.pet_age</p><br>
        <p class="bleaching-p">@ViewBag.petInfos.pet_message</p>
    </div>
</div>
