@{
    Layout = "~/Views/Shared/_Layout_less.cshtml";
}
<div class="contact_desc">
    <div id="contact_desc_div">
        <img src="/@ViewBag.petInfoes.pet_pic_url" id="pet-photo" />
        <p class="bleaching-p">PetName: @ViewBag.petInfoes.pet_name</p><br>
        <p class="bleaching-p">PetType:@ViewBag.petInfoes.pet_type</p><br>
        <p class="bleaching-p">PetAge:@ViewBag.petInfoes.pet_age</p><br>
        <p class="bleaching-p">Message:@ViewBag.petInfoes.pet_message</p><br>
    </div>
</div>
