@using NaughtyFamily.DBconn
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="bleaching-div">
    <div id="bleaching-div-chirld">
        <span>用户名: @ViewBag.userInfos.user_name</span>
    </div>
</div>