@using NaughtyFamily.DBconn
@{
    Layout = "~/Views/Shared/_Layout_less.cshtml";
}

<div id="bleaching-div">
    <div id="bleaching-div-chirld">
        <p class="bleaching-p"><span>Name: @ViewBag.userInfos.user_name</span><span><img src="/@ViewBag.userInfos.photo_url" id="user-photo" /></span></p><br>
        <p class="bleaching-p">Gender:@ViewBag.userInfos.gender</p><br>
        <p class="bleaching-p">Age:@ViewBag.userInfos.age</p><br>
        <p class="bleaching-p">Email:@ViewBag.userInfos.email</p><br>
        <p class="bleaching-p">Telephone:@ViewBag.userInfos.telephone_number</p><br>
        <p class="bleaching-p">Address:@ViewBag.userInfos.address</p><br>
    </div>
</div>