@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--webfont-->
<link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Niconne' rel='stylesheet' type='text/css'>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>

		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
 <div class="main">
    <div class="about-content text-center">
			<div class="who_we_are">
			<div class="container">
					<div class="about-top">
						<header>
							<h3>Who We Are</h3>
						</header>
						<h5>Our team is committed to create a pet can share the experience, experience of the platform, I hope everyone who loves pets can share and learn</h5>
						<p>In this website, you can enjoy the life of every person who love pets, you can also discuss with them, at the same time, also can upload their own life photos</p>
					</div>
					<div class="abt_img1"><img src="~/Image/team1.jpg" alt=""></div>
					<div class="abt_img2"><img src="~/Image/team2.jpg" alt=""></div>
					<div class="clearfix"></div>
			</div>
		</div>
		<div class="why_choose_us">
			<div class="container">
				<div class="row">
						<header>
							<h3>Why choose Us</h3>
						</header>
					</div>
					<div class="col-md-4 whyus">
						<div>
							<span>01</span>
							<p>Maecenas molesetdbus idictum. Ut neque purus, sollic alitudin non ante ac, malesuada condimentum libero. Nunc hendrerit augue vel tempor posuere. Cras consectetur.</p>
						</div>
					</div>
					<div class="col-md-4 whyus">
						<div>
							<span>02</span>
							<p>Maecenas molesetdbus idictum. Ut neque purus, sollic alitudin non ante ac, malesuada condimentum libero. Nunc hendrerit augue vel tempor posuere. Cras consectetur.</p>
		
						</div>
					</div>
					<div class="col-md-4 whyus">
						<div>
							<span>03</span>
							<p>Maecenas molesetdbus idictum. Ut neque purus, sollic alitudin non ante ac, malesuada condimentum libero. Nunc hendrerit augue vel tempor posuere. Cras consectetur.</p>
			
						</div>
					</div>
			</div>
		</div>
		<div class="team">
		<header>
							<h3>Our Team</h3>
						</header>
		<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">
							<div class="ch-info">
								<h4>Use what you have</h4>
								<p>by Angela Duncan <a href="#">View on Dribbble</a></p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info">
								<h4>Common Causes of Stains</h4>
								<p>by Antonio F. Mondragon <a href="#">View on Dribbble</a></p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info">
								<h4>Pink Lightning</h4>
								<p>by Charlie Wagers <a href="#">View on Dribbble</a></p>
							</div>
						</div>
					</li>
				</ul>
				
			</section>
			</div>
    </div>
 </div>